.d-relative{
  position: relative;
}

.d-absolute{
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.color{
  fill: #5bffe4;
}

.temp{
  font-size: 5rem;
  font-weight: 400;
  color: #797777;
}

.desc{
  font-size: 1.5rem;
  font-weight: 400;
  color: #a3a2a2;
}
